button {
  width: 60px;
  margin-right: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}
.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
.likeBtn {
  background: #6ad6fd;
  border-radius: 999px;
  box-shadow: #6ad6fd 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 6px 48px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
